
/BlazorEncryptionApp/bin
/BlazorEncryptionApp/.vs/BlazorEncryptionApp/FileContentIndex
/BlazorEncryptionApp/obj/Debug
/BlazorEncryptionApp/obj
/BlazorEncryptionApp/.vs/BlazorEncryptionApp/DesignTimeBuild
/BlazorEncryptionApp/.vs/BlazorEncryptionApp/v17
/BlazorEncryptionApp/.vs/BlazorEncryptionApp/v17
/BlazorEncryptionApp/.vs/ProjectEvaluation
/BlazorEncryptionApp/obj
