@page "/passwordlist"
@using BlazorEncryptionApp.Entities
@using BlazorEncryptionApp.Infrastructure
@using BlazorEncryptionApp.Domain.Interface
@inject Repository Repository
@inject IEncryptionService EncryptionService
@rendermode InteractiveServer

@if (passwords == null)
{
    <p>Loading...</p>
}
else if (!passwords.Any())
{
    <p>No passwords found.</p>
}
else
{
    <table class="table table-hover border-top">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Encrypted Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var password in passwords)
            {
                <tr>
                    <td>@password.Id</td>
                    <td>@password.Name</td>
                    <td>@EncryptionService.DecryptPassword(@password.EncryptedPassword)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<Password>? passwords;

    protected override async Task OnInitializedAsync()
    {
        passwords = await Repository.GetAllAsync();
    }

}
